.main-body{
    background-color: #00000000;
    min-height:100%;
    width:100%;
    top : 0;
    left : 0;
    right : 0;
    bottom: 0;
    height: 100%;
}
.main-body div{
    background-color: #00000000;
}
.result-lucky-0{
    background-color: #F2F2F2;
    height:12.5%
}
.result-main{
    height:90%;
    background-color: #F2F2F2;
}
.result-lucky-1{
    background-color: #FFF956;
    height:12.5%;
}
.result-lucky-span{
    display: table-cell;
    height:100%;
    vertical-align: middle;
}
.result-title{
    background-color: #91C532;
    font-family: '黑体';
    color: white;
    font-weight: bold;
    height:10%
}
.result-body{
    height: 100%;
}
.result-body div{
    border-bottom: 1px solid;
}
.result-body img{
    height: 100%;
    width : auto;
    margin-left: 10px;
    margin-top: 1.5%;
    
}
.android-div img{
    width: 100%;
}
.result-span{
    margin-left: 10px;
    font-size: smaller;
    position: absolute;
    margin-top: 2%;
    line-height: 90%;
}
.result-span div{
    border: 0px;
}
.android-bandit{
    position: relative;
    width: 100%;
    height: 100%;
}
.android-div table{
    width:50%;
}
